GITHUB_APP_ID=

GITHUB_APP_SECRET=
GITHUB_APP_PRIVATE_KEY=

SECRET_STORE_ARN=

ALLOWLIST_URL=https://github.com/pytorch/pytorch/blob/main/.github/allowlist.yaml
UPSTREAM_REPO=pytorch/pytorch

REDIS_ENDPOINT=
REDIS_LOGIN=
